

    @keyframes rotate{
        from{transform: rotate(350deg) translateX(50px) rotate(-359deg);} 
      
        to{transfrom:rotate(5deg) translateX(150px) rotate(5deg);}
            
    }
.displayimg{
    display:block;
    margin: 0 auto;
   padding-bottom:0; 
   margin-bottom: 0;
   width: 300px;
   position:absolute;
top: 50%;
right:20%;
animation:rotate 4s infinite }
.salad{
    margin:0px;
    margin-top: 63px;
    padding:10px;
    width:500px;
    

}
.spices{
    width:300px;
    position:absolute;
    right:35%;
    top:60%;
}
   

  