.App {
  text-align: center;
}
.navbar{
  background-color: #FFF4A3;
 max-height: 70px !important;
}
.logoimg {
width: 75px;
  padding: 0;
  margin: 20px;
}

@media (max-width:800px) {
  .logoimg {
   width: 65px;
   margin-top: 0;
   margin-bottom: 50px;
   
  }
  .navbar{
    margin:0;
    padding:0;
  }
  .shrinkbtn{
    margin-bottom:50px;
    padding:0;
  }
}

.logins{
  margin-top: 100px;
}
.nav-link {
  color: #E7381C;
}

