.accountForm{
  background-color: #8ae021;
  width: 500px;
  height: 550px;
  text-align: center;
  margin: 70px;
  border-radius: 10px;
  padding:50px;
}
.icons{
  font-size: 23px;
  margin-bottom: 0;
  margin-top: 20px;
}
.input{
  width: 320px;
 padding:5px 3px;
  border: none;
  border-radius: 6px;
  margin:10px;
}
.accountForm p{
  margin-top:5px;
  margin-bottom: 0px;
  font-size: 16px;
  
}
.accountbtn{
  margin: 25px;
}
#homebtn{
  width:150px;
  margin-left: 35px;
  border: 1px solid;
  padding: 8px 5px;
  border: 1px solid #8ae021;
  border-radius: 7px;
}
.googleBtn{
  width:150px;
  padding:5px 2px;
  border: 1px solid; 
  border: 1px solid #8ae021;
  border-radius: 7px;
  margin: 10px;
} 
.googleIcon{
width: 35px;
margin:0;
padding:0
}
